* {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
}

.navBtn {
  background-color: #fb3e3e !important;
}
.section {
  background-image: url(asset/bg-home.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.overlay {
  background: linear-gradient(to right, #512da8, #711e72);
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.underline {
  border-bottom: 3px solid red;
  width: 70px;
  margin: auto;
}
.features {
  background-color: #f8f9fa;
}

.banner {
  background-image: url(asset/banner-1.jpg);
  background-position: center;
  background-size: cover;
}
.bannerOverlay {
  background: linear-gradient(to right, #512da8, #711e72);
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

span {
  color: red;
}

.workprocess {
  background-color: #f8f9fa;
}
.userPics {
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: 60px;
}
.banner2 {
  background-image: url(asset/banner-2.jpg);
  background-position: center;
  background-size: cover;
}

.social {
  background-color: #f8f9fa;
}
.footer {
  background-color: #272a33;
}

.footerEnd {
  background-color: #2e313a;
}
